<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="conatiner">
        <div class="row">
            <div class="col-12">
                All courses
            </div>
        </div>

        <table>
            <thead>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
            </thead>

            <tbody>
                <%  courses.map(course => { %>
                <tr>
                    <td>
                        <%= course._id %>
                    </td>
                    <td>
                        <%= course.name %>
                    </td>
                    <td>
                        <%= course.desciption %>
                    </td>
                    <td>
                        <%= course.amount %>
                    </td>
                </tr>
                <% })  %>
            </tbody>
        </table>
       
   
     
    </div>
</body>
</html>