<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove</title>
</head>
<body>
    <div class="container">
        <div class="row"><div class="col-12">
            Delete COURSE
        </div></div>

        <div class="row">
            <div class="col-12">
                <form action="/delete-course" method="POST">
                    Enter id : <input type="number" name="id"></input>
                    <button type="submit">submit</button>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>