<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modified</title>
</head>
<body>
    <div class="conatiner">
        <div class="row">
            <div class="col-12">
                <h1>Update course</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/update-course" method="POST">
                    <div class="form-group">
                        Please Enter the course id : <input class="form-control" type="number" name="id"></input>
                    </div>
                    <div class="form-group">
                       Please Enter amount : <input class="form-control" type="number" name="amount"></input>
                    </div>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>